/**
 * Created by MS on 2020-12-28.
 */

.THIS {
}

.THIS .input-socialNo {
    width: calc(50% - 35px);
    margin-right: 10px;
    display: inline-block;
}

.THIS .input-socialNo2 {
    width: calc(50%);
    margin-left: 10px;
    display: inline-block;
}

/* 사업자 등록 번호 CSS */
.THIS .input-bizNo {
    width: calc(30% - 35px);
    margin-right: 10px;
    display: inline-block;
}

.THIS .input-bizNo2 {
    width: calc(20% - 35px);
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.THIS .input-bizNo3 {
    width: calc(50%);
    margin-left: 10px;
    display: inline-block;
}

.THIS .bar-socialNo {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 1vh;
}

.THIS .slds-textarea {
    height: 13vh !important;
}

.THIS .slds-list_horizontal {
    display: flex;
    width: 100%;
}

.THIS .slds-grow {

}

.THIS .slds-checkbox .slds-checkbox_faux:after {
    content: "";
    width: 30px;
    height: 20px;
    position: absolute;
    top: 25%;
    left: 22%;
    transform: translate3d(0%, 0%, 0px) rotate(-45deg);
    border-bottom: 5px solid #bbb;
    border-left: 5px solid #bbb;
}