/****************************************************************************************
  * @filename       : i2SEMA_SearchDropBox.css
  * @projectname    : i2SEMA Core
  * @author         : i2max_byeon.jw 
  * @date           : 2020-04-14 오전 10:23
  * @group          :
  * @group-content  : 
  * @description    : 
  * @copyright      : Copyright © I2max. All Rights Reserved.
  * @modification Log
  * ===============================================================
  * ver     date                author              description
  * ===============================================================
    0.1     2020-04-14 오전 10:23     i2max_byeon.jw       Create
****************************************************************************************/
template {
    font-size   : 14px;
    width       : 100% !important;
}
/* Scrollbar Hide */
::-webkit-scrollbar {
    display: none;
}

/* DropBox 목록*/
.itemContainer{
    position : relative;
    width: 100%;
    max-height: 10rem;
    overflow-y:auto;
    z-index : 100;

    background : white;
    border : #ccc;
    border-radius : 0.25rem;
    box-shadow : 0.1rem 0.1rem 0.1rem 0.1rem gray;
}
.item p {
    padding:0.5rem;
    width:100%;
}
.item :hover {
    background:#F3F2F2 !important;
    cursor : pointer;
}

/* Error Message */
.errorMessage {
    padding-left:0.3rem;
    font-size:0.75rem;
    color : red;
}