/****************************************************************************************
  * @filename      : i2SEMA_TemplateActivity.css
  * @projectname   : i2SEMA Core
  * @author        : i2max_shlee
  * @date          : 2020/04/17 1:54 PM
  * @group         : e.g)tab name
  * @group-content : e.g)view file
  * @description   :
  * @reference     :
  * @copyright     : Copyright © I2max. All Rights Reserved.
  * @modification Log
  * ===============================================================
  * ver     date                author              description
  * ===============================================================
    0.1     2020/04/17 1:54 PM     i2max_shlee       Create
****************************************************************************************/
@media only screen and (min-width : 1200px){
    .THIS {
        font-size       : 14px !important;
    }
}
@media only screen and (min-width:601px) and (max-width : 1199px){
    .THIS {
        font-size       : 12px !important;
    }
}
@media only screen and (min-width:0px) and (max-width : 600px){
    .THIS {
        font-size       : 8px !important;
    }
}
/*-------------------------------------------------------
 * Container
 -------------------------------------------------------*/
.THIS.container , .THIS .container {
    background      : white;
    border-radius   : 0.25rem;
    padding         : 0.5rem;
}

/*-------------------------------------------------------
 * Flex Box
 -------------------------------------------------------*/
.THIS.flexBox , .THIS .flexBox {
    display         : flex;
    flex-direction  : row;              /* 하위요소 Row 기준 정렬 (Default) */
    flex-wrap       : wrap;             /* 하위요소 반응형 처리 */
    justify-content : center;           /* 하위요소 Row 시작 위치부터 정렬 */
    align-content   : flex-start;       /* 하위요소(복수) 개행될 시, 상하간격 조절 */
    align-items     : flex-start;       /* 하위요소(단수) 개행될 시, 상하간격 조절 */

    overflow-y      : auto;             /* Default overflow behavior */
}
.THIS .flexItem-vertical {
    flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
    flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
    flex-basis      : 100%;             /* Flex 기본 너비 */
    overflow-y      : auto;
}
.THIS .flexItem-horizontal {
    flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
    flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
    flex-basis      : 50%;              /* Flex 기본 너비 */
    overflow-y      : auto;             /* Default overflow behavior */
}