/****************************************************************************************
 * @filename      : lsMSalesLeaseInspectionReportCreate1.css
 * @author        : I2MAX
 * @date          : 2021-03-29
 * @group         :
 * @group-content :
 * @description   :
 * @tester        :
 * @reference     :
 * @release       : v1.0.0
 * @copyright     : Copyright © I2max. All Rights Reserved.
 * @modification Log
 * ===============================================================
 * ver     date          author        description
 * ===============================================================
   0.1     2021-03-29       I2MAX          Create
 ****************************************************************************************/
.THIS {
}

.THIS .list_verticalBox li .left2 { width: calc(100% - 350px); padding: 25px 20px 25px 0; box-sizing: border-box; color: #000; display: table-cell; vertical-align: middle; }
.THIS .list_verticalBox li .right2 { width: 350px; padding: 25px 0px; box-sizing: border-box; color: #000; display: table-cell; text-align: center; vertical-align: middle; }
.THIS .list_verticalBox li .right2 label:last-child { margin-right: 0 !important; }
.THIS .list_verticalBox li .right2 .radios input[type="radio"] + label { padding-left: 55px; margin-right: 20px; }