@media only screen and (min-width : 1200px){
    .THIS {
        font-size       : 14px !important;
    }
    .THIS.flexBox , .THIS .flexBox {
        /*max-height      : 25rem;*/
    }
    .THIS .flexItem:first-child {
        flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
        flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
        flex-basis      : 50%;              /* Flex 기본 너비 */
        min-width       : 15rem;            /* Flex 최소 너비 */
    }
    .THIS .flexItem:last-child {
        flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
        flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
        flex-basis      : 50%;              /* Flex 기본 너비 */
        min-width       : 15rem;            /* Flex 최소 너비 */
    }
}
@media only screen and (min-width:601px) and (max-width : 1199px){
    .THIS {
        font-size       : 12px !important;
    }
    .THIS.flexBox , .THIS .flexBox {
        max-height      : 20rem;
    }
    .THIS .flexItem:first-child {
        flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
        flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
        flex-basis      : 80%;              /* Flex 기본 너비 */
        min-width       : 12rem;            /* Flex 최소 너비 */
        padding-bottom  : 2rem;
    }
    .THIS .flexItem:last-child {
        flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
        flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
        flex-basis      : 80%;              /* Flex 기본 너비 */
        min-width       : 12rem;            /* Flex 최소 너비 */
        padding-bottom  : 2rem;
    }
}
@media only screen and (min-width:0px) and (max-width : 600px){
    .THIS {
        font-size       : 8px !important;
    }
    .THIS.flexBox , .THIS .flexBox {
        max-height      : 70vw;
    }
    .THIS .flexItem:first-child {
        flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
        flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
        flex-basis      : 100%;             /* Flex 기본 너비 */
        padding-bottom  : 2rem;
    }
    .THIS .flexItem:last-child {
        flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
        flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
        flex-basis      : 100%;             /* Flex 기본 너비 */
        padding-bottom  : 2rem;
    }
}

/*-------------------------------------------------------
 * Flex Box
 -------------------------------------------------------*/
.THIS.flexBox , .THIS .flexBox {
    display         : flex;
    flex-direction  : row;              /* 하위요소 Row 기준 정렬 (Default) */
    flex-wrap       : wrap;             /* 하위요소 반응형 처리 */
    justify-content : center;           /* 하위요소 Row 시작 위치부터 정렬 */
    align-content   : flex-start;       /* 하위요소(복수) 개행될 시, 상하간격 조절 */
    align-items     : flex-start;       /* 하위요소(단수) 개행될 시, 상하간격 조절 */

    overflow-y      : auto;             /* Default overflow behavior */
}
.THIS .flexItem {
    flex-grow       : 0;                /* Item 너비 증가비율 (Default 0)*/
    flex-shrink     : 1;                /* Item 너비 감소비율 (Default 1) */
    flex-basis      : 50%;              /* Flex 기본 너비 */

    overflow-y      : auto;             /* Default overflow behavior */
}