/****************************************************************************************
 * @filename      : marketingCampaignLastActivity.css
 * @author        : I2MAX
 * @date          : 2021-02-23
 * @group         :
 * @group-content :
 * @description   :
 * @tester        :
 * @reference     :
 * @release       : v1.0.0
 * @copyright     : Copyright © I2max. All Rights Reserved.
 * @modification Log
 * ===============================================================
 * ver     date          author        description
 * ===============================================================
   0.1     2021-02-23       I2MAX          Create
 ****************************************************************************************/
.THIS .card-border {
    border: 1px solid;
    border-color : #D7DAE9;
}
.THIS .c-margin-bottom15 {
    margin-bottom: 15px;
}