/**
 * Created by MS on 2020-06-24.
 */

.THIS {
}

.THIS .radio_horizontal .slds-form-element__control{
    display: flex;
}

.THIS .textarea-container {
    width: 100% !important;
}

.THIS .slds-form-element__control {
    text-align: center;
    margin: 0 auto;
    width: 360px;
}

.THIS .slds-textarea {
    height: 234px;
}